body {
    background-color: #4a747d;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}


.board {
    display: grid;
    gap: 15px;
    margin: auto;
    width: fit-content; 
    padding-top: 30px;
}

.cell {
    width: 95px;
    height: 95px;
    background-color: #f8f8c6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.cell:hover {
    transform: scale(1.05);
}
.controls_input{
   background-color: white;
   margin-top: 25px;
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.controls_start{
    background-color: white;
   margin-top: 25px;
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#reset-btn {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: #333;
}

.credit {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
